.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.wrapper {
  background-color: var(--softBg);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
}

.social {
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
}

.social:first-child {
  background-color: #ff5555;
}

.social:nth-child(2) {
  background-color: #111;
}

.social:nth-child(3) {
  background-color: #087bea;
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 30px 50px;
    gap: 30px;
  }

  .social {
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
  }
}
