.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 40px;
  }

  .links {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    font-size: 24px;
  }

  .links {
    font-size: 10px;
    gap: 10px;
  }
}
